/** Stylus Styles */

.card--flex-toolbar
  margin-top: -65px

.btn--locale
  min-width: 0

table > thead > tr th
  background-color: $grey.lighten-4
  border-color: $grey.lighten-4

.application--light .table tbody tr[active]
  background: $yellow.lighten-4

@media $display-breakpoints.xl-only
  .xl-pl-2
    padding-left: $spacers.two.x !important

  .xl-pr-2
    padding-right: $spacers.two.x !important
